/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f1e9e2;
    width: 100%;
    min-height: 100vh;
      // content in the parent div
    display: flex;
    justify-content: center;
    //https://www.w3schools.com/cssref/tryit.php?filename=trycss3_align-items
    // text in the center of the div
    align-items: center;
    //line-height: 1;
}